.background {
	-fx-base: #522B83; /*royal-purple*/
	-fx-background-color: -fx-base;
}

.backgroundPopup{
	-fx-background-color: derive(#522B83, 15%);
	-fx-border-color: #DAA520; /*golden-rod */
	-fx-border-width: 2;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #CFB53B;
    -fx-opacity: 0.6;
}

.label-heading {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #FFD700;
    -fx-opacity: 1;
}

.label-brightLarge {
	-fx-font-size: 12pt;
	-fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFD700;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFD700;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #FFD700;
    -fx-opacity: 1;
}

.table-view{
    -fx-control-inner-background: transparent;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: #FFD700;
    -fx-padding: 5;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler{
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        #FFD700 
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view .table-cell .label{
	 -fx-text-fill: #FFD700;
}
.table-view .column-header .label{
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #FFD700;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #522B83;
    -fx-background-color: #CFB53B;
}

.menu-bar {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: #CFB53B;
}

.menu-bar .label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: transparent;
}

.menu:hover .label{
	-fx-text-fill: #FFD700;
}
 .menu:showing .label {
 	-fx-text-fill: #522B83;
 }
.menu-item:hover .label,.menu-item:focused .label{
	-fx-text-fill: #522B83;
}

.menu:hover {
	-fx-background-color: derive(-fx-base,50%);
}
.menu:showing{
	-fx-background-color: #DAA520;
}

.menu-item:hover, .menu-item:focused{
	-fx-background-color: derive(#CFB53B,80%);
}
/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-base;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #FFD700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#exitButton{
	-fx-padding: 5 5 5 5;   
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-base;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #FFD700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#minimiseButton{
	-fx-padding: 5 10 5 10;   
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: -fx-base;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #FFD700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#exitButtonPopup{
	-fx-padding: 5 10 5 10;   
    -fx-border-color: #FFD700;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: derive(#7851A9, 15%);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 9pt;
    -fx-text-fill: #FFD700;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#exitButtonPopup:hover{
	-fx-background-color: #EEE8AA;
}

.button:hover, #exitButton:hover, #minimiseButton:hover {
    -fx-background-color: #EEE8AA; /*gold*/
}

.button:pressed, .button:default:hover:pressed, #exitButton:pressed, #minimiseButton:pressed, #exitButtonPopup:pressed {
  -fx-background-color: white;
  -fx-text-fill: -fx-base;
}

.button:focused, #exitButton:focused, #minimiseButton:focused, #exitButtonPopup:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -fx-base;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}